ion-content {
    height: 30%;
}
ion-card {
    box-shadow: none;
    border-radius: 12px;
    height: 200px;
    width: 90%;
    display: flex;
}

ion-card-title {
    font-size: 18px;
}

ion-row {
    height: 50%;
    display: inline-block;
}