<ion-content style="height: 550px;">
    <swiper-container [slidesPerView]="1.2" [spaceBetween]="-20">
      <swiper-slide *ngFor="let item of departments">
        <ion-card  color="primary" (click)="openCard(item)">
          <ion-grid>
            <ion-row>
              <ion-card-header>
                <ion-card-title>{{item.address}} - {{item.distance}}</ion-card-title>
              </ion-card-header>
            </ion-row>
            <ion-row>
              <ion-card-content> Загруженность - {{item.workloadPercent}}</ion-card-content>
            </ion-row>
          </ion-grid>
        </ion-card>
      </swiper-slide>
    </swiper-container>
</ion-content>