<ion-content scroll-y="false">
    <swiper-container [slidesPerView]="1.2" [spaceBetween]="-20">
      <swiper-slide *ngFor="let item of departments">
        <ion-card  color="primary" (click)="openCard(item)">
          <ion-grid>
            <ion-row>
              <ion-card-header>
                <ion-card-title>ул. {{item.street}}, д. {{item.building}} - {{item.distance}} км</ion-card-title>
              </ion-card-header>
            </ion-row>
            <ion-row>
              <ion-card-content> {{item.address}} </ion-card-content>
              <ion-card-content> Загруженность - {{item.workloadPercent}}; Время ожидания - {{item.estimatedWaitingTime}}</ion-card-content>
            </ion-row>
          </ion-grid>
        </ion-card>
      </swiper-slide>
    </swiper-container>
</ion-content>